[user]
	name = Armand \"Walrus\" Li
	email = adarcorerlreth@gmail.com
[credential]
	helper = cache
[alias]
  bran = branch
  co = checkout
  up = pull
  stat = status
  logg = git log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  unstage = reset HEAD --
  last = log -l HEAD
  br = branch
  ci = commit
  squash = "!f(){ git reset --soft HEAD~${1} && git commit --edit -m\"$(git log --format=%B --reverse HEAD..HEAD@{1})\"; };f"
  mpr = "!f() { \
          declare currentBranch=\"$(git symbolic-ref --short HEAD)\"; \
          declare branch=\"${2:-$currentBranch}\"; \
          if [ $(printf \"%s\" \"$1\" | grep '^[0-9]\\+$' > /dev/null; printf $?) -eq 0 ]; then \
              git fetch origin refs/pull/$1/head:pr/$1 && \
              git checkout -B $branch && \
              git rebase $branch pr/$1 && \
              git checkout -B $branch && \
              git merge --ff-only pr/$1 && \
              git branch -D pr/$1; \
          fi \
      }; f"
  copr = "!f() { git fetch -fu ${2:-origin} refs/pull/$1/head:pr/$1 && \
                 git checkout pr/$1; }; f"
  bclean = "!f() { git branch --merged ${1-master} | grep -v " ${1-master}$" | xargs -r git branch -d; }; f"
  ignore = update-index --assume-unchanged
  unignore = update-index --no-assume-unchanged
  ignored = !git ls-files -v | grep "^[[:lower:]]"
  aliases = config --get-regexp alias
  git = !exec git
[pager]
    log  = diffr | less
    show = diffr | less
    diff = diffr | less
[core]
	excludesfile = /Users/armandli/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Users/armandli/Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[commit]
	template = /Users/armandli/.stCommitMsg
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
